<!DOCTYPE html>
<html lang="en">
<head>

{{ theme:partial name="fluid/metadata" }}

<!-- Fonts -->
{{ if theme:options:brand_font }}
<link href='http://fonts.googleapis.com/css?family=<?php echo urlencode($this->theme->options->brand_font)?>' rel='stylesheet' type='text/css'>
{{ else }}
<link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans' rel='stylesheet' type='text/css'>
{{ endif }}

<!-- CSS Stylesheets -->
{{ theme:css file="bootstrap.css" }}
{{ theme:css file="bootstrap-responsive-custom.css" }}

{{ if theme:options:header == 'yes' }}
	{{ theme:css file="site-header.css" }}
{{ else }}
	{{ theme:css file="no-site-header.css" }}
{{ endif }}

{{ theme:css file="custom.css" }}

<style>
	a.brand {
		{{ if theme:options:brand_font }} font-family: "{{ theme:options:brand_font }}"; {{ endif }}
	}
	.site-header {
		{{ if theme:options:header_color }} background-color: {{ theme:options:header_color }}; {{ endif }}
	}


{{ if theme:options:sitewide_css }}
	{{ theme:options:sitewide_css }}
{{ endif }}

</style>



<!-- Conditional Stylesheets for IE -->
<!--[if IE 7 ]><link href="assets/ie-fixes/IE7.css" type="text/css" rel="stylesheet" /><![endif]-->
<!--[if IE 8 ]><link href="assets/ie-fixes/IE8.css" type="text/css" rel="stylesheet" /><![endif]-->
<!--[if IE 9 ]><link href="assets/ie-fixes/IE9.css" type="text/css" rel="stylesheet" /><![endif]-->

<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{ integration:analytics }}

</head>

<body>

{{ if theme:options:header == 'yes' }}
	{{ theme:partial name="fluid/site-header" }}
{{ endif }}

{{ theme:partial name="fluid/site-nav" }}
	
<div class="container-fluid">

{{ session:messages notice="alert" error="alert alert-error" success="alert alert-success" }}

{{ if messages:error }}
	<div class="alert alert-error">
		<a class="close" data-dismiss="alert" href="#">×</a>
		{{ messages:error }}
	</div>
{{ endif }}

{{ if messages:notice }}
	<div class="alert alert-notice">
		<a class="close" data-dismiss="alert" href="#">×</a>
		{{ messages:notice }}
	</div>
{{ endif }}

{{ if messages:success }}
	<div class="alert alert-success">
		<a class="close" data-dismiss="alert" href="#">×</a>
		{{ messages:success }}
	</div>
{{ endif }}