
<footer>

	<div class="footer-inner">

		<div class="row-fluid">

			<div class="span4 quick-map">

				{{ widgets:area slug="footer" }}

				<h3>Quick Map</h3>

				<ul>
					{{ navigation:links group="footer" }}
				</ul>
			</div>

			<div class="span5 contact-us">

				<h3>Contact Us</h3>
				<p class="wch-title">Wisconsin Clearinghouse for Prevention Resources<br> University Health Services, UW-Madison</p>
				<p class="wch-address">333 East Campus Mall, Room 8201<br> Madison, WI 53715-1381</p>
				<p class="map"><a href="http://goo.gl/maps/Ew2y" class="gmap-link">{{ theme:image file="footer-map-tan.png" }}</a> <a href="http://goo.gl/maps/Ew2y" class="gmap-text-link">(click to get directions on Google Maps)</a></p>
				<p class="digits">toll-free: 800-248-9244<br> tel: 608-262-9157<br> fax: 608-262-6346</p>
				<p class="email"><a href="mailto:info@healthinpractice.org">info@healthinpractice.org</a></p>

			</div>

		</div>

	</div>

</footer>
