<!-- Meta data -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<base href="<?php echo base_url(); ?>" />

<script type="text/javascript">
	var APPPATH_URI = "/system/cms/";
	var BASE_URI = "/";
</script>

<link rel="canonical" href="<?php echo base_url(); ?>" />
<link rel="alternate" type="application/rss+xml" title="{{ settings:site_name }}" href="<?php echo base_url(); ?>blog/rss/all.rss" />
<meta name="keywords" content="<?php echo $this->_ci_cached_vars['page']->meta_keywords; ?>" />
<meta name="description" content="<?php echo $this->_ci_cached_vars['page']->meta_description; ?>" />

<title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>

{{ if {url:segments segment="1"} == '' }}
<meta property="fb:app_id"               content="">
<meta property="og:type"                 content=""> 
<meta property="og:url"                  content="">
<meta property="og:site_name"            content="">
<meta property="og:image"                content="">
<meta property="og:description"          content="">
<meta property="og:title"          		content="">
{{ endif }}