body {
	padding-top: 60px;
	min-width: 250px;
}

/* Navbar */
a.brand img.logo {
	margin: -8px 0;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    background-color: #222222 !important;
}

/* Site-wide Footer */
footer {
	margin-top: 4em;
	background-color: #333;
	padding: 40px 0;
	color: #fff;
}

footer .footer-inner {
	margin: 0 40px;
}

footer p {
	margin: 1em 20px;
}
footer a:hover {
	color: #33B7F5;
}
footer ul {
	list-style: none;
	margin-bottom: .5em;
}
footer .quick-map {
	margin-bottom: 2em;
}
footer .quick-map ul {
	margin-top: 1em;
}
footer .map {
	width: 286px;
}
footer .gmap-text-link {
	display: block;
	margin-top: .5em;
	text-align: center;
}
footer .gmap-link img {
	display: block;
	border: 6px solid #444;
}


/* Headings */
.page-chunk h2 {
	color: #669900;
}

/* Common Components */
header.jumbotron {
	margin-top: 16px;
}
.jumbotron h1 {
	font-size: 81px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 9px;
}
.masthead p {
	font-size: 26px;
	line-height: 36px;
	margin-left: 5%;
	margin-right: 5%;
}
.masthead h1, .masthead p {
	text-align: center;
}
.jumbotron p {
	font-weight: 300;
	margin-bottom: 18px;
}
p {
	margin: 0 0 9px;
}