body {
	padding-top: 140px;
	min-width: 250px;
}

/* Site-wide Header */
.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 78px;
	background-color: #000;
}
.site-header .header-inner {
	padding: 12px 20px 0 20px;
}

.site-header .brand:hover {
  text-decoration: none;
}

.site-header .brand {
  display: block;
  float: none;
  padding: 0px 0px 4px 20px;
  margin-left: -20px;
  font-size: 26px;
/*  font-family: 'Port Lligat Sans', sans-serif;*/
  line-height: 1;
  color: #eee;
}

.site-header h2.slogan {
	display: block;
	font-size: 15px;
	line-height: 1;
	font-weight: normal;
	color: #ccc;
	margin: 4px 0 0 10px;
}

/* Site-wide Navbar */
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .current > a,
.navbar .nav .current > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #666;
}
.site-nav {
	top: 78px;
	z-index: 0;
}
.site-nav .navbar-inner {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #999999, #888888);
	background-image: -ms-linear-gradient(top, #999999, #888888);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#888888));
	background-image: -webkit-linear-gradient(top, #999999, #888888);
	background-image: -o-linear-gradient(top, #999999, #888888);
	background-image: linear-gradient(top, #999999, #888888);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#888888', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.site-nav .navbar-inner ul.nav > li > a {
	color: #fff;
}

.site-nav .navbar-inner ul.nav {
	margin-left: 20px;
}

.site-nav .navbar-inner ul a {
	color: #fff;
}



/* Site-wide Footer */
footer {
	margin-top: 4em;
	background-color: #333;
	padding: 80px 0;
	color: #fff;
}

footer .footer-inner {
	margin: 0 40px;
}

footer p {
	margin: 1em 40px;
}

.footer-bottom {
	margin-top: 1em;
	background-color: #222;
}

footer .twitter_feed li {
	list-style: none;
}

footer .page-chunk .control-label {
	color: #ffffff;
}

footer .page-chunk textarea {
	width: 100%;
	height: 15em;
}

footer .page-chunk .error {
	color: red;
}


/* Custom Responsive */

.site-header,
.site-header-inner,
.navbar-fixed-top,
.navbar-fixed-bottom {
  margin-right: -20px;
  margin-left: -20px;
}

/* Common Components */
.jumbotron h1 {
	font-size: 81px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 9px;
}
.masthead p {
	font-size: 30px;
	line-height: 36px;
	margin-left: 5%;
	margin-right: 5%;
}
.masthead h1, .masthead p {
	text-align: center;
}
.jumbotron p {
	font-weight: 300;
	margin-bottom: 18px;
}
p {
	margin: 0 0 9px;
}