/* This file should go before bootstrap.css */
body {
	padding-top: 60px;
	min-width: 250px;
}

/* Navbar */
a.brand img.logo {
	margin: -8px 0;
}

ul.nav-tabs a {
	outline: 0 !important;
}

/* For inputs with buttons attached to them (like the search input) */
.input-append button.add-on {
    height: inherit !important;
}

/* Site-wide Footer */
footer {
	margin-top: 2em;
	background-color: #333;
	padding: 40px 0;
	color: #fff;
}

footer .footer-inner {
	margin: 0 40px;
}

footer p {
	margin: 1em 20px;
}
footer a:hover {
	color: #33B7F5;
}
footer ul {
	list-style: none;
	margin-bottom: .5em;
}
footer .quick-map {
	margin-bottom: 2em;
}
footer .quick-map ul.footer-nav-list {
	margin-top: 1em;
}
footer .map {

}
footer p.wch-title {
	margin-bottom: 0;
}
footer p.wch-address {
	margin-top: 0;
}
footer .gmap-text-link {
	display: block;
	margin-top: .5em;
	text-align: center;
}
footer .gmap-link img {
	display: block;
	border: 6px solid #444;
}


/* Common Components */

.page h2 {
	font-size: 18px !important;
	line-height: 1.1 !important;
	margin-bottom: 0.4em;
}

header.jumbotron {
	margin-top: 16px;
}
.jumbotron h1 {
	font-size: 81px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 9px;
}
.masthead p {
	font-size: 26px;
	line-height: 36px;
	margin-left: 5%;
	margin-right: 5%;
}
.masthead h1, .masthead p {
	text-align: center;
}
.jumbotron p {
	font-weight: 300;
	margin-bottom: 18px;
}
p {
	margin: 0 0 9px;
}

/* Remove bullets from forms with lists */
form > ul,
fieldset > ul {
	list-style: none;
}

.sticky {
	margin-bottom: 1em;
	padding-left: 10px;
}